.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 20px;
}
li a {
  cursor: pointer;
  background-color: black !important;
  color: white !important;
}

.form {
  display: inline-flex;
  justify-content: space-between;
}

.cardBody {
  flex: 1px 1px auto;
  padding-top: 1rem;
  padding-left: 1rem; 
}

.card {
  overflow-x: auto !important;
}